{% extends "layouts/base.html" %}

{% block title %} Individual Analysis {% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}
    <div class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-header ">
                            <h4 class="card-title">Komparasi Antar Perusahaan Asuransi Jiwa</h4>
                        </div>
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-md-12 pr-1">
                                        <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
                                            Options
                                        </button>
                                        <button type="button" id='clear_btn' class="btn btn-primary">Clear Options</button>
                                        <button type="button" id='compare_btn' class="btn btn-primary">Tampilkan</button>
                                    </div>
                                </div>
                                <div class="collapse" id="collapseExample">
                                    <div class="row">
                                        <div class="col-md-4 pr-1">
                                            <table class="table table-striped table-condensed">
                                                {%if not companies_jiwa.empty %}
                                                    {% for company  in companies_jiwa: %}
                                                        <tr>
                                                            <td class="labeled">
                                                            <label>
                                                                <input name="checkbox_val" type="checkbox" />
                                                            </label>
                                                            </td>
                                                            <td><label name="company_name" style="color:black">
                                                                {{ company|safe }}
                                                                </label>
                                                            </td>
                                                        </tr>
                                                    {% endfor %}
                                                {%endif%}
                                            </table>
                                        </div>
                                        <div class="col-md-4 pr-1">
                                            <table class="table table-striped table-condensed">
                                                {%if not accounts.empty %}
                                                    {% for account  in accounts: %}
                                                        <tr>
                                                            <td class="labeled">
                                                            <label>
                                                                <input name="account_check" type="checkbox" />
                                                            </label>
                                                            </td>
                                                            <td><label name="account_name" style="color:black">
                                                                {{ account|safe }}
                                                                </label>
                                                            </td>
                                                        </tr>
                                                    {% endfor %}
                                                {%endif%}
                                            </table>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12 pr-1">
                                        <div id='chart_compare' class='chart'></div>
                                    </div>                                        
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}

<script src="{{ config.ASSETS_ROOT }}/js/plotly-latest.min.js"></script>

<script type="text/javascript">
    $(document).ready(function() {
    });   
</script>
<script>
    $(".dropdown-menu a ").click(function(){
        $(this).parents(".input-group-btn").find('.btn').text($(this).text());
        //var _id = $(this).parents(".input-group-btn").find('.btn').attr('id');
    });
</script>
<script>
    
    $("#clear_btn").click(function(e) {
        $('input:checkbox').prop('checked', false);
    });

    $("#compare_btn").click(function(e) {
        var checkbox_state = []
        var company_name = []
        var account_name=[]
        $("[name=checkbox_val]:checked").each(function() {
            company_name.push($(this).closest("tr").find("[name=company_name]").text()) //push value in array
        })
        $("[name=account_check]:checked").each(function() {
            account_name.push($(this).closest("tr").find("[name=account_name]").text()) //push value in array
        })
        Plotly.purge('chart_compare');        

        if (company_name.toString()=='') 
            return;
        if (account_name.toString()=='')
            return;
        
        let toPost = {
            company: company_name.toString(),
            account: account_name.toString(),
        };
        let jsonStr = JSON.stringify(toPost);
        $.ajax({
            type: "POST",
            url: "/compare_individual_jiwa",
            data: jsonStr,
            contentType: "application/json",
            dataType: 'json',
            success: function(result) {
                var graphs = JSON.parse(result['json_result']);
                Plotly.react('chart_compare',graphs,{});
            }
        });
    });
</script>

<!-- Specific Page JS goes HERE  -->
{% endblock javascripts %}
