{% extends "layouts/base.html" %}

{% block title %} Data Analysis {% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

    <div class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-header">
                            <p class="card-category">
                                <iframe
                                    width="100%"
                                    height ="980px"
                                    src= "{{ data | safe }}"
                                    frameborder="0"
                                    allow = "clipboard-read;clipboard-write"
                                    allowfullscreen>
                                </iframe>
                            </p>
                            <br />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}
