{% extends "layouts/base.html" %}

{% block title %} News Analysis {% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}

{% endblock stylesheets %}

{% block content %}

    <div class="content">
        <div class="container-fluid">
            <form action='/search_news' onsubmit="javascript:submitSearchNews();"  name='getnews' id='getnews' method='post'> 
            <div class="row">
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-header ">
                            <h4 class="card-title">News Analysis</h4>
                            <p class="card-category">News Analysis by Duckduckgo...</p>
                        </div>
                        <div class="card-body">
                            <div class="row">
                                <div class="col-md-8 pr-1">
                                    <div class="input-group">
                                        <input type="search" name='search' id='search' class="form-control rounded" placeholder="Masukkan keyword berita yang ingin di analisis" aria-label="Search" aria-describedby="search-addon" value="{{ keywords }}"/>
                                        <button type="submit" class="btn btn-info btn-fill pull-right" >search</button>
                                    </div>
                                </div>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                </div>
            </div>
            {%if news %}
            <div id="loading" style="height:80%;width:80%;">
                <center><img src="/static/assets/img/loading.svg" alt="Loading..." style="border: 0;
                    border-radius: 4px;
                    padding: 5px;
                    background-color: transparent;
                    width: 200px;"></center>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-header ">
                            <h4 class="card-title">Results</h4>
                        </div>
                        <div class="card-body">
                            <div class="row">
                                <div class="col-md-12 pr-1">
                                    <div class="card-body table-full-width table-responsive">
                                        {{ pagination.info }}
                                        <table id="example" class="table table-bordered table-striped" style="width:100%">
                                            <thead>
                                                <th>Date</th>
                                                <th>Sentimen</th>
                                                <th>Title</th>
                                                <th>Content</th>
                                                <th>URL</th>
                                            </thead>
                                            <tbody>
                                                {% for table in news %}
                                                    <tr>
                                                        <td>{{ table['date'].strftime('%Y-%m-%d') }}</td>
                                                        <td>{{ table['sentiment'] }}</td>
                                                        <td>{{ table['title'] }}</td>
                                                        <td>{{ table['body'] }}</td>
                                                        <td><a href="{{ table['url'] }}" target="_blank">{{ table['url'] }}</a></td>
                                                        
                                                    </tr>
                                                {% endfor %}
                                            </tbody>
                                        </table>
                                        {{ pagination.links }}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-header ">
                            <h4 class="card-title">Sentiment News Analysis</h4>
                            <p class="card-category">Sentiment News Analysis [Positive,Neutral, and Negative]</p>
                        </div>
                        <div class="card-body">
                            <div id='sentiment_chart' class='chart'></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-header ">
                            <h4 class="card-title">Chart News Analysis</h4>
                            <p class="card-category">Chart News Analysis</p>
                        </div>
                        <div class="card-body">
                            <div id='chart' class='chart' style="height: 100%;"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-header ">
                            <h4 class="card-title">Worldcloud News analysis sentiment</h4>
                            <p class="card-category">Word Cloud of News Analysis Sentiment</p>
                        </div>
                        <div class="card-body">
                            <div class="img" align="center">
                                <img src="{{ imgWordcloud }}" alt="wordcloud">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% endif %}
            </form>
        </div>
    </div>

{% endblock content %}
{% block javascripts %}
<script src='https://cdn.plot.ly/plotly-latest.min.js'></script>

<script type="text/javascript">
    $(document).ready(function() {
        // Javascript method's body can be found in assets/js/demos.js
        //$("#model").val("{{ selected_model }}");
        var graphs = {{ graphJSON|safe }};
        Plotly.plot('chart',graphs,{});
        
        var graphs = {{ graphSentimentJSON|safe }};
        Plotly.plot('sentiment_chart',graphs,{});
        
        $('#loading').hide(); 

    });   
</script>
<script type="text/javascript">
    $(".dropdown-menu a ").click(function(){
        $(this).parents(".input-group-btn").find('.btn').text($(this).text());
        $("#model").val($(this).text());
    });

    function submitSearchNews(){
        $('#loading').show();

        Plotly.purge('chart');
        Plotly.purge('sentiment_chart');
    }
</script>
<!-- Specific Page JS goes HERE  -->
{% endblock javascripts %}