{% extends "layouts/base.html" %}

{% block title %} News Analysis {% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}

{% endblock stylesheets %}

{% block content %}

    <div class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-header ">
                            <h4 class="card-title">Trend Analysis</h4>
                            <p class="card-category">Trend Analysis by Google Trend...</p>
                        </div>
                        <form action='/search_trend' name='gettrend' id='gettrend' method='post'> 
                        <div class="card-body">
                            <div class="row">
                                <div class="col-md-8 pr-1">
                                    <div class="input-group">
                                        <input type="search" name='keywords' id='keywords' class="form-control rounded" placeholder="Masukkan keyword pencarian yang ingin di analisis" aria-label="Search" aria-describedby="search-addon" value="{{ keywords }}"/>
                                        <button type="submit" class="btn btn-info btn-fill pull-right" >search</button>
                                    </div>
                                </div>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                        </form>
                    </div>
                </div>
            </div>
            {% if overtime %}
            <div class="row">
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-header ">
                            <h4 class="card-title">Results</h4>
                        </div>
                        <div class="card-body">
                            <div class="row">
                                <div class="col-md-12 pr-1">
                                    <div id='chart_overtime' class='chart'></div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12 pr-1">
                                    <div id='chart_geo' class='chart'></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% endif %}
        </div>
    </div>
{% endblock content %}
{% block javascripts %}

<script src="{{ config.ASSETS_ROOT }}/js/plotly-latest.min.js"></script>

<script type="text/javascript">
    $(document).ready(function() {
        // Javascript method's body can be found in assets/js/demos.js
        var graphs = {{ graphJSON_overtime | safe}};
        Plotly.plot('chart_overtime',graphs,{});
        graphs = {{ graphJSON_geo | safe}};
        Plotly.plot('chart_geo',graphs,{});
    });   
</script>
<!-- Specific Page JS goes HERE  -->
{% endblock javascripts %}
